.Brandmenu {
  position: absolute;
  left: 30rem;
  top: -2rem;
  width: 100% !important;
  background-color: pink;
  height: auto !important;

  &_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &_title {
    &:hover {
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }
}
